services:
  libfranka:
    build:
      context: ../.ci/
      dockerfile: ../.ci/${DISTRO:-Dockerfile.focal}
      args:
        USER_UID: ${USER_UID:-1000}
        USER_GID: ${USER_GID:-1000}
    container_name: libfranka-${DISTRO_NAME:-focal}
    network_mode: "host"
    shm_size: 512m
    privileged: true
    command: /bin/bash
    tty: true
    stdin_open: true
    volumes:
      - ../:/workspaces
    cap_add:
      - SYS_NICE
    ulimits:
      rtprio: 99
      rttime: -1
      memlock: 8428281856
